
<mat-sidenav-container >
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary" class="main-toolbar">
     <div>
       <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <p class="project-title">
          Polling
       </p>
     </div>
     
     
     <div>
      <ul class="navigation-items">
          
            <li>
                  <mat-icon class="icon">account_circle</mat-icon>
                  <span class="label">{{currentUser.fullName}}</span>
                  
            </li>
            
            <li class="logout">
                <a>
                  <mat-icon class="icon ">power_settings_new</mat-icon>
                  <span class="label logout" (click)="logOut()">Logout</span>
                 </a>
            </li>
        </ul>
     </div>
    </mat-toolbar> -->


    <mat-toolbar color="primary">

      <mat-toolbar-row>
        <span>Polling</span>
        <span class="spacer"></span>
        <mat-icon class="icon" aria-hidden="false">account_circle</mat-icon><label class="label">{{currentUser.fullName}}</label>
        <button mat-flat-button color="warn" (click)="logOut()">Logout</button>
      </mat-toolbar-row>
    </mat-toolbar>

    <main>
        
     
            
    </main>
    
  </mat-sidenav-content>
  
</mat-sidenav-container>





    
    
   

  