/* .parent{
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
}

.container{
    height: 80%;
    width: 80%;
    background-color: tomato;
    margin: 0 auto;
    padding-top: 10%;
}

.profileimg{
    height: 40%;
    width: 50%;
    background-image: url('/src/assets/images/img_avatar.png');
} */